.wrapper {
    display: flex;
}

.sidebar {
    height: 100%;
    position: fixed;
    width: 240px;
    background-color: cadetblue;
    color: #fff;
}

.logo {
    width: 100%;
    height: 80px;
    box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.3);
}

.logo img {
    width: 100%;
    max-width: 160px;
    height: 100%;
    display: block;
    margin: auto;
}

.nav li a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 5px;
    transition: background-color 0.2s;
}

.nav li a:hover {
    background-color: #555;
}

.nav {
    padding-top: 20px;
}

.heading {
    padding-left: 5px;
}

.container {
    width: 210px;
    margin: auto;
}

.choose {
    margin: 10px 0;
}

.main {
    list-style: none;
}

.dropdown {
    width: 168px;
    margin: auto;
}

.content {
    padding-left: 240px;
    flex: 1;
    height: 100vh;
    background-color: #f5f5f5;
}
