.wrapper {
    display: flex;
    align-items: center;
    padding: 6px 16px;
    cursor: pointer;

    &:hover {
        background: rgba(22, 24, 35, 0.03);
    }
}

.club-logo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.info-club {
    flex: 1px;
    margin-left: 12px;
}

.club-name {
    font-size: 1.6rem;
    font-weight: 600;
}

.league {
    font-size: 1.3rem;
}
